<div class="stat-display btn btn-danger">
    <i class="fa fa-exclamation-triangle"></i>
    <span class="text stat-result">{% trans %}Some modifications !{% endtrans %}</span>
    <div class="stat-result-text hide">
        {{ data }}
    </div>
</div>